* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

.container {
    max-width: 1300px;
    margin: auto;  
}


header > h1 {
    color: #E53170;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2.5em;
    text-align: center;
}

header > p {
    font-size: 1.3em;
    text-align: center;
}

img {
    height: 100%;
    margin-right: 10px;
}


.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 

.card {
    height: 120px;
    width: calc(100% / 3 - 30px);
    background-color: #0F0E17;
    color: white;
    margin-right: 15px;
}

#name-card {
    font-weight: bold;
    font-size: 1.3em;

}

#mail-card {
    color: #63B3C0;
    font-size: 1.1em;
    text-decoration: none;
  
}
 

.card > p {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row {
    margin-top: 30px;
}

